plants-warehouse-service/src/main/resources/warehouse.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://www.plantsshop.justynafraczek.org/warehouse/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	name="warehouse" 
	targetNamespace="http://www.plantsshop.justynafraczek.org/warehouse/"
	xmlns:bp="http://www.plantsshop.justynafraczek.org">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.plantsshop.justynafraczek.org/">
		<xsd:import schemaLocation="warehouse.xsd" namespace="http://www.plantsshop.justynafraczek.org"/>
		<xsd:import schemaLocation="plantsTypes.xsd" namespace="http://www.plantsshop.justynafraczek.org/types"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="plantsOrderRequestMsg">
    <wsdl:part element="bp:plantsOrderRequest" name="payload"/>
  </wsdl:message>
  <wsdl:message name="newPlantsOrderResponseMsg">
    <wsdl:part element="bp:newPlantsOrderResponse" name="payload"/>
  </wsdl:message>
  <wsdl:message name="cancelOrderRequestMsg">
    <wsdl:part element="bp:cancelOrderRequest" name="payload"/>
  </wsdl:message>
  <wsdl:message name="cancelOrderResponseMsg">
    <wsdl:part element="bp:cancelOrderResponse" name="payload"/>
  </wsdl:message>  
  <wsdl:message name="getPlantRequestMsg">
    <wsdl:part element="bp:getPlantRequest" name="payload"/>
  </wsdl:message>
  <wsdl:message name="getPlantResponseMsg">
    <wsdl:part element="bp:getPlantResponse" name="payload"/>
  </wsdl:message>
  <wsdl:message name="getPlantsRequestMsg">
    <wsdl:part element="bp:getPlantsRequest" name="payload"/>
  </wsdl:message>
  <wsdl:message name="getPlantsResponseMsg">
    <wsdl:part element="bp:getPlantsResponse" name="payload"/>
  </wsdl:message>
  <wsdl:message name="orderFaultMsg">
    <wsdl:part element="bp:orderFault" name="payload"/>
  </wsdl:message>  
  <wsdl:portType name="PlantsWarehouse">
    <wsdl:operation name="newOrder">
      <wsdl:input message="tns:plantsOrderRequestMsg"/>
      <wsdl:output message="tns:newPlantsOrderResponseMsg"/>
      <wsdl:fault message="tns:orderFaultMsg" name="orderFault"/>
    </wsdl:operation>
    <wsdl:operation name="cancelOrder">
      <wsdl:input message="tns:cancelOrderRequestMsg"/>
      <wsdl:output message="tns:cancelOrderResponseMsg"/>
      <wsdl:fault message="tns:orderFaultMsg" name="orderFault"/>
    </wsdl:operation>
    <wsdl:operation name="getPlant">
      <wsdl:input message="tns:getPlantRequestMsg"/>
      <wsdl:output message="tns:getPlantResponseMsg"/>
      <wsdl:fault message="tns:orderFaultMsg" name="orderFault"/>
    </wsdl:operation>
    <wsdl:operation name="getPlants">
      <wsdl:input message="tns:getPlantsRequestMsg"/>
      <wsdl:output message="tns:getPlantsResponseMsg"/>
      <wsdl:fault message="tns:orderFaultMsg" name="orderFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PlantsWarehouseSOAP" type="tns:PlantsWarehouse">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="newOrder">
      <soap:operation soapAction="http://www.plantsshop.justynafraczek.org/warehouse/newOrder"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="orderFault">
      	<soap:fault name="orderFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelOrder">
      <soap:operation soapAction="http://www.plantsshop.justynafraczek.org/warehouse/cancelOrder"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="orderFault">
      	<soap:fault name="orderFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>    
    <wsdl:operation name="getPlant">
      <soap:operation soapAction="http://www.plantsshop.justynafraczek.org/warehouse/getPlant"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="orderFault">
      	<soap:fault name="orderFault" use="literal"/>
      </wsdl:fault> 
    </wsdl:operation>
    <wsdl:operation name="getPlants">
      <soap:operation soapAction="http://www.plantsshop.justynafraczek.org/warehouse/getPlants"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output> 
      <wsdl:fault name="orderFault">
      	<soap:fault name="orderFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PlantsWarehouseService">
    <wsdl:port binding="tns:PlantsWarehouseSOAP" name="PlantsWarehousePort">
      <soap:address location="http://www.plantsshop.justynafraczek.org/warehouse/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
